.sign{
    cursor: pointer;
}
.detail > .text{
    transition: all;
    transition-duration: 1s;
}
.detail {
    display: flex;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 10px;
    padding-left: 10px;
   padding-right: 10px;
}

.img {
    width: 14%;
    margin: 0 16px;
    margin-top: 45px;
}

img {
    border: 1px solid #E6E6E6;
    border-radius: 63%;
    width: 100%;
    max-width: 150px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 16px;
    color: #8b8b8b;
    font-size: 26px;
}

.text h1 {
    font-size: 44px;
    margin: 24px 0;
    color: black;
    margin-bottom: 3px;
    font-family: arial,sans-serif;
}

.text p {
    margin: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    width: 100%;
}

.btn button {
    height: 24px;
}

.MuiSvgIcon-root {
    height: 2em !important;
    width: 2em !important;
}

.dropdown {
    display: none;
}

.tag-style {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    margin: 8px !important;
    /* padding: 8px; */
    /* border: 5px; */
    border-radius: 10px;
    padding: 9px 13px;
    color: black;
}

.input-tag {
    border: none;
    border-bottom: 1px solid black;
    font-size: 24px;
  }


@media only screen and (max-width: 650px) {

    .detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .img {
        width: 30%;
        margin: 0;
        margin-top: 45px;
    }

    .MuiSvgIcon-root {
        height: 1em !important;
        width: 1em !important;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .text h1 {
        font-size: 24px;
        margin: 24px 0 16px;
    }

    .text p {
        font-size: 14px;
        /* margin: 24px 0; */
    }
}